<html>
    <body>
        <h3>Hola ${user.fullname}, 

        <div>
            Se ha confirmado el suple de la obra ${constructionsite.name} por el administrador de obra
        </div>
    </body>
</html>