@import "addons.scss";
@import "magaltheme.scss";

/* This file prefixes all rules with the theme name to avoid causing conflicts with other themes. */
/* The actual styles should be defined in magaltheme.scss */
.magaltheme {
  @include addons;
  @include magaltheme;
  
  //permite quitarle el margen a un componente h1
  .no-margin h1{
  	margin : 0 !important;
  }
  
  
  .grid-attendace .v-filterselect [class$="button"], .grid-attendace .v-filterselect [class$="button"]:before{
  	width : 20px !important;
  }
  
  .grid-attendace .v-filterselect [class*="input"]{
  	padding : 4px 4px 4px 9px;
  }
  
  .grid-pastmonth {
    background-color: #c8c8c8 !important;
  }
  .grid-today {
	 background-color: #99b7c4 !important;
	 border: 1p solid #6692a4 !important;
   }
}
