@import "addons.scss";
@import "magaltheme.scss";

/* This file prefixes all rules with the theme name to avoid causing conflicts with other themes. */
/* The actual styles should be defined in magaltheme.scss */
.magaltheme {
  @include addons;
  @include magaltheme;
  
  //permite quitarle el margen a un componente h1
  .no-margin, .no-margin h1{
  	margin : 0 !important;
  }
  
  .no-padding {
  	padding : 0 !important;
  }
  
  .v-grid-cell {
  	padding : 2px !important;
  	text-align : center;
  }
  
  .textalignCenter {
  	text-align : center;
  }
  
  .textalignLeft {
  	text-align : left;
  }
  
  .v-grid-editor-cells .v-filterselect .v-filterselect-button{
	height  : 10px;  
  }
  
  .v-grid-editor-cells .v-textfield {
  	padding : 0;
  }
  
  .grid-attendace .v-filterselect [class$="button"], .grid-attendace .v-filterselect [class$="button"]:before{
  	width : 20px !important;
  }
  
  .grid-attendace .v-filterselect [class*="input"]{
  	padding : 4px 4px 4px 9px;
  }
  
  .grid-pastmonth {
    background-color: #c8c8c8 !important;
  }
  
  .grid-today {
	 background-color: #99b7c4 !important;
	 border: 1p solid #6692a4 !important;
   }
   
   .red-color {
   		color : red;
   }
   
   .r-color {
   		color : #197DE1;
   }
   
   .bold {
   		font-weight: bold;
   }
   
   .v-table-column-selector {
		opacity : 1 !important;
		font-size : 15pt;
	}
	
	.v-contextmenu {
		
		overflow : auto !important;
	}
}
