<?xml version='1.0'?>
<html>
	 <head>
		<meta charset="UTF-8">
		<style>
	
	@media all {
	.page-break	{ display: none; }
	.print-hidden	{  }
	}
	
	@media print {
		.page-break	{ display: block; page-break-before: always; }
		.print-hidden	{ display: none; }
	}
	
	</style>
	</head>
	<body>
	
	<div class="print-hidden" style="text-align:center;">
			<input type="button" onclick="javascript:print()" value="Imprimir" /> <br /><br />
		</div>
	
#foreach( $laborerConstruction in $laborerConstructions )

		<br />		
		<h2 style="text-align:right;">ROL ${laborerConstruction.activeContract.job}</h2>
		<br />
		<div style="margin:1px;text-align:center;left;line-height: 0.2;">
		    <h2>ANEXO CONTRATO DE TRABAJO</h2>
			Desde $tools.format('dd', $tools.date) de $tools.format('MMMM yyyy', $tools.date)
		</div>
		<br />
		<p style="text-align:justify;">El presente anexo de modificaci&oacute;n  de Horario de Trabajo,  tiene por  objeto cumplir con lo dispuesto en la Ordenanza de los Procesos Constructivos  Capitulo  IV Articulo 9 de la Ilustre Municipalidad de Vitacura, relativo a trabajos con Ruidos Molestos.</p>
		<h2 style="text-align:left;">Lunes a Viernes : </h2> 
		<h2 style="text-align:left;">Ma&ntilde;ana 8:30 a 13:00 hrs.</h2>
		<h2 style="text-align:left;">Tarde 13:30 a 18:00 Hrs.</h2>
	    <br /><br />
	    <span style="text-align:left;">CONSTRUCTORA E INMOBILIARIA MAGAL LTDA.</span><br />
	    <span style="text-align:left;">Obra: ${laborerConstruction.constructionsite.name}</span>
	    <br /><br />
		<table cellpadding="0" cellspacing="0" border="0" style="width:100%;margin:10px">
        <tr>
            <td style="text-align:left;">
            TRABAJADOR Sr: ${laborerConstruction.laborer.fullname}, ROL ${laborerConstruction.activeContract.job}
            </td>
        </tr>
		</table>
		<p>Santiago, $tools.format('dd', $tools.date) de $tools.format('MMMM', $tools.date) de $tools.format('yyyy', $tools.date).
		<div class="page-break"></div>
#end
	</body>
</html>

