<?xml version='1.0'?>
<html>
	 <head>
		<meta charset="UTF-8">
		<style>
	
	@media all {
	.page-break	{ display: none; }
	.print-hidden	{  }
	}
	
	@media print {
		.page-break	{ display: block; page-break-before: always; }
		.print-hidden	{ display: none; }
	}
	
	</style>
	</head>
	<body>
	
	<div class="print-hidden" style="text-align:center;">
			<input type="button" onclick="javascript:print()" value="Imprimir" /> <br /><br />
		</div>
	
#foreach( $laborerConstruction in $laborerConstructions )

		<br />		
		<table cellpadding="0" cellspacing="0" border="0" style="width:100%;margin:10px">
		
		<div style="text-align:left;line-height: 0.2;">
		    <h1>MAGAL S.A.</h1>
		    OBRA:<p><b>$laborerConstruction.constructionsite.name</b></p>
		    <p><b>$laborerConstruction.constructionsite.address</b></p>
		</div>
		
		<br />
		
		<h2 style="text-align:right;">ROL <b>${laborerConstruction.activeContract.jobCode}</b></h2>
		
		<br />
	
		<div style="margin:1px;text-align:center;left;line-height: 0.2;">
		    <h2>ANEXO CONTRATO DE TRABAJO</h2>
			<h3>Pacto de Horas Extraordinarias</h3>
			Art. 32 Inciso primero del C&oacute;digo del Trabajo
		</div>
		
		<br />
		
		<p style="text-align:justify;">En Santiago, a <b>$tools.format('dd MMMM yyyy', $tools.date)</b>, entre <b>${laborerConstruction.constructionsite.constructionCompany.name}</b> Rut <b>${laborerConstruction.constructionsite.constructionCompany.rut}</b>, representada por Don Cristian Marinovich Pacey y Don <b>${laborerConstruction.laborer.fullname}</b>, Trabajador de la misma se conviene, de conformidad con el articulo N&deg; 32 inciso primero de la Ley 19.759 del C&oacute;digo del Trabajo, trabajar a contar de esta fecha, en jornada extraordinaria para antender necesidades o situaciones temporales en la Empresa que no tengan el car&aacute;cter de permanentes. Los d&iacute;as y la duraci&oacute;n de estas jornadas dentro de los m&aacute;ximos legales establecidos, ser&aacute; autorizada y fijada por el jefe de obras, seg&uacute;n sean dichas necesidades o situaciones temporales.
</p>
    <br /><br /><br /><br />
    <br /><br /><br /><br />
        <tr>
            <th>
            <hr style="width:200px" />
            TRABAJADOR
            </th>
            <th>
            <hr style="width:200px" />
            EMPRESA
            </th>
        </tr>

		</table>
		<div class="page-break"></div>
#end
	</body>
</html>

