<?xml version='1.0'?>
<html>
	 <head>
		<meta charset="UTF-8">
		<style>
	
	@media all {
	.page-break	{ display: none; }
	.print-hidden	{  }
	}
	
	@media print {
		.page-break	{ display: block; page-break-before: always; }
		.print-hidden	{ display: none; }
	}
	
	</style>
	</head> 
	<body style="color:#7379A0">
		
		<div class="print-hidden" style="text-align:center;">
			<input type="button" onclick="javascript:print()" value="Imprimir" /> <br /><br />
		</div>
		
		<br />
		
#foreach( $laborerConstruction in $laborerConstructions)
#foreach( $vacation in $laborerConstruction.progressiveVacation )
    #if($foreach.last) 
		<table border="1" cellpadding="0" cellspacing="0" style="width:100%;margin:10px">
			<tr>
				<td style="background-color:#FFF3F7">
					<h1 style="margin:10px;">COMPROBANTE DE FERIADO</h1>
				</td>
				<td style="width:50%" colspan="2">
					<table border="1" cellpadding="0" cellspacing="0"
						style="border-collapse:collapse;width:100%;height:100%">
						<tr style="background-color:#FFF3F7">
							<th>LUGAR</th>
							<th>DIA</th>
							<th>MES</th>
							<th>A&Ntilde;O</th>
						</tr>
						<tr>
							<td>
								<p><b>${laborerConstruction.constructionsite.name}</b></p>
							</td>
							<td>
								<xsl:value-of select="VacationData/day" />
								<p></p>
							</td>
							<td>
								<xsl:value-of select="VacationData/month" />
								<p></p>
							</td>
							<td>
								<xsl:value-of select="VacationData/year" />
								<p></p>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					En cumplimiento a las disposiciones legales vigentes se deja
					constancia que a contar de las fechas que se indican, el
					trabajador:
					<br />
					<br />
					DON <b>${laborerConstruction.laborer.fullname}</b> RUT: <b>$numberTools.integer(${laborerConstruction.laborer.rut.split("-").get(0)})-${laborerConstruction.laborer.rut.split("-").get(1)}</b> ROL: <b>${laborerConstruction.jobCode}</b>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					har&aacute;
					uso
					<xsl:value-of select="VacationData/partOrFull" />
					(indicar si parte o el total) de su
				</td>
			</tr>
			<tr>
				<td>
					Feriado Anual con remuneraci&oacute;n &iacute;ntegra
					de acuerdo al siguiente detalle:
				</td>
				<th style="background-color:#FFF3F7">DIAS</th>
				<th style="background-color:#FFF3F7">VALOR</th>
			</tr>
			<tr>
				<td>
					DESCANSO EFECTIVO ENTRE LAS FECHAS QUE SE INDICAN:
					<br />
					DESDE EL
					<xsl:value-of select="VacationData/from" />
					AL
					<xsl:value-of select="VacationData/to" />
				</td>
				<td>
					<xsl:value-of select="VacationData/days" />
				</td>
				<td>
					<xsl:value-of select="VacationData/value" />
				</td>
			</tr>
			<tr>
				<td>
					FERIADO COMPENSADO
				</td>
				<td>
					<xsl:value-of select="VacationData/days" />
				</td>
				<td>
					<xsl:value-of select="VacationData/amount" />
				</td>
			</tr>
			<tr>
				<td>
					<xsl:value-of select="VacationData/amount_string" />
					(EN LETRAS)
				</td>
				<th style="background-color:#FFF3F7" rowspan="2">TOTAL</th>
				<td rowspan="2">
					<xsl:value-of select="VacationData/total" />
				</td>
			</tr>
			<tr>
				<td align="right">
					pesos.
				</td>
			</tr>
		</table>
		<br />
		<table border="1" cellpadding="0" cellspacing="0"
			style="border-collapse:collapse;width:100%">
			<tr>
				<td>
					<table cellpadding="0" cellspacing="0" border="1"
						style="border-collapse:collapse;width:100%;height:100%">
						<tr style="background-color:#FFF3F7">
							<th>DETALLE DEL FERIADO</th>
							<th>DIAS</th>
						</tr>
						<tr>
							<td>DIAS HABILES</td>
							<td>
								<xsl:value-of select="VacationData/working_days" />
							</td>
						</tr>
						<tr>
							<td>VACACIONES PROGRESIVAS</td>
							<td>
								<xsl:value-of select="VacationData/progresive_vacations" />
							</td>
						</tr>
						<tr>
							<td>DOMINGOS E INHABILES</td>
							<td>
								<xsl:value-of select="VacationData/not_working_days" />
							</td>
						</tr>
						<tr>
							<td>FERIADO FRACCIONADO</td>
							<td>
								<xsl:value-of select="VacationData/holydays" />
							</td>
						</tr>
						<tr>
							<td>SALDO PENDIENTE</td>
							<td>
								<xsl:value-of select="VacationData/pendinds_days" />
							</td>
						</tr>
					</table>
				</td>
				<td>
					<table cellpadding="0" cellspacing="0" border="1"
						style="border-collapse:collapse;width:100%;height:100%">
						<tr style="background-color:#FFF3F7">
							<th>NOMBRE Y FIRMA DEL EMPLEADOR O EMPRESA</th>
						</tr>
						<tr>
							<td>
								<p></p>
							</td>
						</tr>
						<tr>
							<td>
								<p></p>
							</td>
						</tr>
						<tr style="background-color:#FFF3F7">
							<th>FIRMA DEL TRABAJADOR</th>
						</tr>
						<tr>
							<td>
								<p></p>
							</td>
						</tr>
						<tr>
							<td>
								<p></p>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<table cellpadding="0" cellspacing="0" border="1" style="width:100%">
			<tr>
				<td style="width:40px"></td>
				<td style="background-color:#FFF3F7">
					<p>
						<b>NOTA:</b>
						Se deja constancia que el c&aacute;lculo del feriado se ha hecho de
						conformidad a lo dispuesto en el Cap&iacute;tulo
						VII, "Del Feriado Anual y de los Permisos, del Cap&iacute;tulo
						I del C&oacute;digo
						del Trabajo".
					</p>
				</td>
			</tr>
		</table> 
		<br />
		<br />
		<div class="page-break"></div>
    #end
#end
#end
	</body>
</html>
