<?xml version='1.0'?>
<html>
	 <head>
		<meta charset="UTF-8">
		<style>
	
	@media all {
	.page-break	{ display: none; }
	.p-justify	{ align:justify; }
	.print-hidden	{  }
     body {font-size : 10pt;}
	}
	
	@media print {
		.page-break	{ display: block; page-break-before: always; }
		.p-justify	{ }
		.print-hidden	{ display: none; }
  		body {font-size : 10pt;}
		header:after { content: "1"; }
		
		#fecha_contrato_dia { position : absolute ; top : 2.1cm; left: 4.1cm; }
		#fecha_contrato_mes { position : absolute ; top : 2.1cm; left: 5.5cm; }
		#fecha_contrato_ano { position : absolute ; top : 2.1cm; left: 8.7cm; }
        #nombre_constructora { position : absolute ; top : 2.1cm; left: 13cm; }
		
        #rut_constructora { position : absolute ; top : 2.55cm; left: 2.5cm; }
        #nombre_representante_constructora { position : absolute ; top : 2.55cm; left: 9.3cm; }
        
        #direccion_constructora { position : absolute ; top : 2.9cm; left: 8cm;  } 
        #comuna_constructora { position : absolute ; top : 2.9cm; left: 16cm;  }
        
        #nombre_trabajador { position : absolute ; top : 3.35cm; left: 12.5cm; }
        
        #nacionalidad_trabajador { position : absolute ; top : 3.78cm; left: 3.6cm;}
        #fecha_nac_trabajador { position : absolute ; top : 3.78cm; left: 8cm; }
        #direccion_trabajador { position : absolute ; top : 3.78cm; left: 14.5cm; }
        
        #poblacion_trabajador{ position : absolute ; top : 4.2cm; left: 1.5cm; }
        #comuna_trabajador { position : absolute ; top : 4.2cm; left: 10.3cm; }
        #rut_trabajador {position : absolute ; top : 4.2cm; left: 17cm;}
        
        #oficio_trabajador {position : absolute ; top : 5.33cm; left: 14.2cm; }
        
        #direccion_obra {position : absolute ; top : 6.13cm; left: 14cm;}
        
        #comuna_obra {position : absolute ; top : 6.45cm; left: 2.8cm;}
        
        #sueldo_diario{position : absolute ; top : 10cm; left: 11.3cm;}
        
        #oficio_trabajador2 { position : absolute ; top : 10.29cm; left: 16.2cm;}
        
        #etapa_obra { position : absolute ; top : 15.58cm; left: 12cm; }
        
        #afp_trabajador { position : absolute ; top : 25.2cm; left: 3.5cm; }
        #isapre_trabajador { position : absolute ; top : 25.2cm; left: 15cm; }
        
        #nombre_trabajador2 { position : absolute ; top : 27.85cm; left: 8.5cm; }
        
        #inicio_contrato_trabajador { position : absolute ; top : 28.25cm; left: 8cm;}
		
	}
	
	</style>
	</head> 
	<body>
		<div class="print-hidden"  style="text-align:center;">
			<input type="button" onclick="javascript:print()" value="Imprimir" />
		</div>
#foreach( $laborerConstruction in $laborerConstructions )
			<h2 style="margin:1px;text-align:center;" class="print-hidden">CONTRATO DE TRABAJO PARA OBRA TRANSITORIA</h2>		

                <p class="p-justify">
                <span class="print-hidden" >En Santiago,</span> <span id="fecha_contrato_dia"><b>$tools.format('dd', $tools.date)</b></span> <span class="print-hidden" >de</span> <span id="fecha_contrato_mes"><b>$tools.format('MMMM', $tools.date)</b></span> <span class="print-hidden" >de</span> <span id="fecha_contrato_ano"><b>$tools.format('yyyy', $tools.date)</b></span> <span class="print-hidden" >entre la empresa </span><span id="nombre_constructora"><b> #if (${laborerConstruction.constructionsite.constructionCompany.name}) ${laborerConstruction.constructionsite.constructionCompany.name} #else ____________________________________ #end </b> 
                <span class="print-hidden" >R.U.T.:</span><b></span> <span id="rut_constructora">#if(${laborerConstruction.constructionsite.constructionCompany.rut}) $numberTools.integer(${laborerConstruction.constructionsite.constructionCompany.rut.split("-").get(0)})-${laborerConstruction.constructionsite.constructionCompany.rut.split("-").get(1)} #else ____________________________________ #end </b></span> <span class="print-hidden" >representada por don </span><span id="nombre_representante_constructora" ><b> #if (${laborerConstruction.constructionsite.constructionCompany.chiefExecutive}) ${laborerConstruction.constructionsite.constructionCompany.chiefExecutive} #else ____________________________________ #end </b> </span><span class="print-hidden" >(profesi&oacute;n,
                cargo en la empresa) ambos domiciliados en </span> <span id="direccion_constructora"><b>#if(${laborerConstruction.constructionsite.constructionCompany.address}) ${laborerConstruction.constructionsite.constructionCompany.address} #else ____________________________________ #end </b></span> <span class="print-hidden" >, comuna de </span><span id="comuna_constructora"><b>#if(${laborerConstruction.constructionsite.constructionCompany.commune}) ${laborerConstruction.constructionsite.constructionCompany.commune} #else ____________________________________ #end</b></span> 
                <span class="print-hidden" >en adelante "el empleador" o la "empresa" por una parte y por la otra don </span><span id="nombre_trabajador"><b>${laborerConstruction.laborer.fullname}</b></span> 
                <span class="print-hidden" >de nacionalidad </span><span id="nacionalidad_trabajador"><b>${laborerConstruction.laborer.nationality}</b></span> <span class="print-hidden" >nacido el</span> <span id="fecha_nac_trabajador"><b>$tools.format('dd MMMM yyyy',${laborerConstruction.laborer.dateBirth})</b></span> <span class="print-hidden" >domicilio en calle</span> <span id="direccion_trabajador"><b>${laborerConstruction.laborer.address}</b></span> 
                <span id="poblacion_trabajador"><b>${laborerConstruction.laborer.address}</b></span><span class="print-hidden" >Comuna </span><span id="comuna_trabajador"><b>${laborerConstruction.laborer.commune}</b></span> <span class="print-hidden" >C&eacute;dula de identidad N&deg; </span><span id="rut_trabajador"><b>$numberTools.integer(${laborerConstruction.laborer.rut.split("-").get(0)})-${laborerConstruction.laborer.rut.split("-").get(1)}</b></span> 
                <span class="print-hidden" >y procedente de esta ciudad, en adelante el "trabajador", se ha convenido el siguiente contrato de trabajo:</span>
					<br />
					<br />
                <span class="print-hidden" >PRIMERO: El trabajador se obliga a prestar servicios personales para el empleador como </span><span id="oficio_trabajador"><b>${laborerConstruction.activeContract.job}</b></span><span class="print-hidden" >, funciones que se encuentran descritas al dorso del presente contrato y que se consideran como parte integral del mismo. Estas funciones del trabajador se realizar&aacute;n en la obra que el empleador se encuentra realizando en la calle </span><span id="direccion_obra"><b>${laborerConstruction.constructionsite.address}</b></span>
                <span class="print-hidden" >comuna </span><span id="comuna_obra"><b>#if(${laborerConstruction.constructionsite.commune})${laborerConstruction.constructionsite.commune}#else ____________________________________ #end</b></span> <span class="print-hidden" >"de igual forma, el trabajador ejecutar&aacute; labores ocasionales que le pueda se&ntilde;alar el empleador, relacionadas con las que son inherentes a su trabajo y que puedan presentarse fuera de la obra". </span>
				<br />
                <span class="print-hidden" >SEGUNDO: El trabajador cumplir&aacute; una jornada semanal de trabajado de 45 horas distribuida en 5 d&iacute;as de la siguiente manera:</span></p>
					
				<p style="text-align:center;" class="print-hidden" > LUNES A VIERNES: 08:00 horas a 12:00 horas <br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12:45 horas a 17:45 horas</p>
				
                <p class="p-justify"><span class="print-hidden" >TERCERO: El empleador pagar&aacute; al trabajador la siguiente remuneraci&oacute;n: </span><span id="sueldo_diario">$$numberTools.integer(${jornalBase}) MINIMO DIARIO</span><br />
                <span class="print-hidden" >a) La suma que resulte de los tratos realizados en obra para distintos trabajos en relaci&oacute;n  a su funci&oacute;n de </span><span id="oficio_trabajador2"><b>${laborerConstruction.activeContract.job}</b></span> <span class="print-hidden" >Estos tratos se calcular&aacute;n tomando como base los valores establecidos en el Tarifado Nacional de la Construcci&oacute;n de fecha 12 Septiembre de 1978, aprobado por el Ministerio de Econom&iacute;a y del Trabajo y Previsi&oacute;n social, que en el art&iacute;culo 34 fij&oacute; las remuneraciones variables para efecto de los tratos, debidamente reajustados seg&uacute;n variaci&oacute;n experimentada por el &iacute;ndice de Precios al Consumidor fijado por el Instituto Nacional de Estad&iacute;sticas o el organismo que lo reemplace e incrementados en un 25%. Este tarifado referencial se considera como parte integrante del presente contrato.</span><br />
                <span class="print-hidden" >b) Cuando por el desarrollo de la obra el trabajador estuviese impedido de realizar labores a trato o cuando el resultado mensual de los trabajos realizados a trato fuera inferior al monto de ingreso m&iacute;nimo mensual legal, imput&aacute;ndose en este caso su monto, cualquier remuneraci&oacute;n inferior que reciba el trabajador con motivo de su prestaci&oacute;n de servicios.</span>
					<br />
					<br />
                <span class="print-hidden" >CUARTO: Por concepto de gratificaci&oacute;n legal anual, el empleador pagar&aacute; este beneficio de conformidad con el sistema establecido en el art&iacute;culo 50 del C&oacute;digo del Trabajo. Cualquier gratificaci&oacute;n convencional que pacte deber&aacute; imputarse al resultado final del c&aacute;lculo hecho de conformidad con el art&iacute;culo 50 ya citado.</span>
					<br />
                <span class="print-hidden" >QUINTO: El presente contrato durar&aacute; hasta el t&eacute;rmino de los trabajos de </span><span id="etapa_obra"><b>${laborerConstruction.activeContract.step}</b></span><span class="print-hidden" > que el empleador realiza en la obra referida en la cl&aacute;usula primera, labores especificas y transitorias para las cuales fue contratado el trabajador, todo de conformidad con los requerimientos en cuanto a dotaci&oacute;n de trabajadores que el avance de las obras determine, circunstancias que el empleador deber&aacute; en cada caso calificar.</span><br />
                <span class="print-hidden" >SEXTO: Las partes dejan expreso testimonio que constituyen obligaciones esenciales del presente contrato, cuya infracci&oacute;n se considerar&aacute; como "incumplimiento grave de las obligaciones que impone el contrato", dando lugar a la caducidad, expiraci&oacute;n y terminaci&oacute;n inmediata del mismo, entre otras las siguientes.</span><br />
					<br />
                <span class="print-hidden" >a) Concurrir diariamente al trabajo y dar estricto cumplimiento al horario de la jornada de trabajo.</span><br />
                <span class="print-hidden" >b) Desempe&ntilde;ar las labores convenidas en forma fiel y eficiente, debiendo cumplir estrictamente las ordenes que le den sus jefes directo, t&eacute;cnicos y ejecutivos de la empresa.</span><br />
                <span class="print-hidden" >c) Utilizar los implementos de seguridad que corresponden en relaci&oacute;n a la naturaleza del trabajo convenido.</span><br />
                <span class="print-hidden" >d) Dar estricto cumplimiento al Reglamento Interno de Seguridad e Higiene de la empresa como asimismo a las normas e instructivos de car&aacute;cter general o personal que de la empresa.</span><br />
                <span class="print-hidden" >e) Mantener con el resto de los trabajadores y en general con todo el personal, jefes y ejecutivos de la empresa, relaciones de convivencia y respeto mutuo, que permitan a cada uno el normal desempe&ntilde;o en sus labores.</span><br />
                <span class="print-hidden" >f) En general, cumplir con todas las obligaciones que emanan de su condici&oacute;n de trabajador, las que impone el presente contrato y la legislaci&oacute;n vigente.</span>
					<br />
					<br />
                <span class="print-hidden" >SEPTIMO: La conclusi&oacute;n del contrato por la causal establecida en el articulo 159 N&deg;5 del C&oacute;digo del Trabajo, seg&uacute;n se establece en la cl&aacute;usula quinta del presente contrato, no obsta a la terminaci&oacute;n del mismo por cualquiera de las otras causales establecidas en los art&iacute;culos 159 y aquellas del articulo 160 del C&oacute;digo del Trabajo.</span><br />
                <span class="print-hidden" >OCTAVO: Se entienden incorporadas al presente contrato todas las disposiciones legales que se dicten con posterioridad a la fecha de su suscripci&oacute;n y que tengan relaci&oacute;n con &eacute;l.</span><br />
                <span class="print-hidden" >NOVENO: El trabajador deja expresa constancia, que para los efectos "Previsionales" se encuentra afiliado al momento de su contrataci&oacute;n a: </span><span id="afp_trabajador"><b>${laborerConstruction.laborer.afp}</b></span> <span class="print-hidden" >y para lo de "salud" en: </span><span id="isapre_trabajador"><b>${laborerConstruction.laborer.isapre}</b></span><span class="print-hidden" >. Reconociendo que es de su total y exclusiva responsabilidad dar al empleador aviso oportuno y por escrito, de cualquier cambio o modificaci&oacute;n de su situaci&oacute;n Previsional o se Salud.</span><br />
                <span class="print-hidden" >DECIMO: Para todos los efectos legales las partes fijan su domicilio en la ciudad de Santiago y dejan expresa constancia al momento de la suscripci&oacute;n del presente contrato , que el trabajador tiene ya fijado para todos los efectos legales su domicilio en dicha ciudad.</span>
					<br />
                <span class="print-hidden" >DECIMO PRIMERO: Se deja constancia que don </span><span id="nombre_trabajador2"><b>${laborerConstruction.laborer.fullname}</b></span> <span class="print-hidden" >ingreso a prestar servicios para la empresa el </span><span id="inicio_contrato_trabajador"><b>$tools.format('dd MMMM yyyy',${laborerConstruction.activeContract.startDate})</b></span><span class="print-hidden" >.</span>
					<br />
                <span class="print-hidden" >DECIMO SEGUNDO: De toda modificaci&oacute;n al presente contrato se dejar&aacute; constancia escrita en &eacute;l, debidamente firmada por el trabajador y el empleador. Para constancia firman las partes el contrato en dos ejemplares, quedando uno en poder de cada una.</span>
					<br />
                <span class="print-hidden" >DECIMO TERCERO: Este contrato reemplaza cualquier otro suscrito entre las partes antes de esta fecha.</span>
					<br />
					<div class="page-break"></div>
					<br />
					<h2 style="margin:1px;text-align:center;left;" class="print-hidden" >TIPO DE TRABAJO</h2>
					<div class="print-hidden">
						<br />
						<br />
						<p style="font-weight: bold;">1.- <u>EXCAVADORES</u></p>
						<p class="p-justify">a) Excavadores para cimientos que aparece en los planos de estructura de obra.<br />
						b) Rellenos de excedentes de excavaciones de los cimientos o para ejecutar los radieres.<br />
						c) Trabajos provisorios varios, durante el tiempo que por razones de faena, este interrumpidos, temporalmente, los trabajos de las letras a y b.</p>

						<p style="font-weight: bold;">2.- <u>CONCRETEROS</u></p>
						<p class="p-justify">a) Confecci&oacute;n y colocaci&oacute;n de concreto, indicado en los planos de estructura.<br />
						b) Confecci&oacute;n de radieres.<br />
						c) Confecci&oacute;n de carreras para el efecto de colocaci&oacute;n de concreto.<br />
						d) Trabajos provisorios varios, durante el tiempo que por razones de faena, est&eacute;n interrumpidos, temporalmente, los trabajos de las letras a, b, y c.</p>
						
						<p style="font-weight: bold;">3.- <u>JORNALEROS</u></p>
						<p class="p-justify">a) Ayudante de carpinteros, alba&ntilde;iles, estucadores, g&aacute;sfiter y enfierradores.<br />
						b) En su calidad de ayudantes, desarrollar&aacute;n labores de aprendices del oficio de sus maestros ayudando en la ejecuci&oacute;n de los trabajos respectivos, trasladando los materiales de sus respectivos maestros.</p>
						
						<p style="font-weight: bold;">4.- <u>PORTEROS, LLAVEROS, RONDINES, ASEADORES</u></p>
						<p class="p-justify">Deber&aacute;n desempe&ntilde;ar en forma indistinta cualquiera de cada una de estas labores que se le asigne...</p>
						
						<p style="font-weight: bold;">5.- <u>ENFIERRADORES</u></p>
						<p class="p-justify">Confecci&oacute;n y colocaci&oacute;n de fierros de acuerdo a lo dispuesto en plano de estructura de la obra.</p>
						
						<p style="font-weight: bold;">6.- <u>CARPINTEROS</u></p>
						<p class="p-justify">Se contemplan las siguientes categor&iacute;as:
							<br />
						a) Confecci&oacute;n, colocaci&oacute;n y descimbre de moldaje para concreto de acuerdo a los planos de estructura de la obra, confecci&oacute;n de carreras para colocaci&oacute;n de concreto.
							<br />
						b) Confecci&oacute;n de estructura de techumbre, confecci&oacute;n de tabiques de estructura de madera, colocaci&oacute;n de marcos de puertas, colocaci&oacute;n de guardapolvos, pilastra y junquillos, colocaci&oacute;n de puertas, confecci&oacute;n de cielos falsos. Adem&aacute;s, en caso que por razones de faenas, est&eacute;n interrumpidos los trabajos de las letras a y b, deber&aacute;n efectuar trabajos provisorios varios, como ser por ejemplo:  instalaci&oacute;n de accesorios, instalaci&oacute;n de celos&iacute;as de ventilaci&oacute;n, etc.</p>
						
						<p style="font-weight: bold;">7.- <u>ALBA&Ntilde;ILES - ESTUCADORES</u></p>
						<p class="p-justify">Desarrollar&aacute;n el trabajo propio des su respectivo oficio en aquellas &aacute;reas de la obra que justifique la presencia de esos maestros, por lo cual, no se incluye en sus contratos la ejecuci&oacute;n de muros menores de dos m2. Y pa&ntilde;os o estucos menos de dos m2. Ya que esos trabajos corresponde ejecutarlos a los ayudantes.</p>
						
						<p style="font-weight: bold;">9.- <u>YESEROS</u></p>
						<p class="p-justify">Realizar&aacute;n, como su nombre lo indica, los trabajadores de estucos y afinados en yeso, tanto en muros como en cielos de la obra respectiva </p>
						
						<p style="font-weight: bold;">7.- <u>GENERAL</u></p>
						<p class="p-justify">Lo dispuesto en esta cl&aacute;usula sobre descripci&oacute;n de los trabajados se entiende sin perjuicio de la facultad que el c&oacute;digo del trabajo otorga al empleador bajo el art&iacute;culo 12 por alterar la naturaleza del trabajo o el sitio o recinto en que debe prestarse.
							<br />
							<br />
						10.- Declaro recibir en este acto, un ejemplar del Reglamento Interno de Orden, Higiene y Seguridad de la empresa.</p>
							<br /><br /><br /><br />
							<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
				            <tr>
				                <th><hr size=1 width="150"></th>
				                <th><hr size=1 width="150"></th>
				            </tr>
				            <tr>
				                <th>TRABAJADOR</th>
				                <th>EMPRESA</th>
           					 </tr>
							 </table>
				</div>
				<div class="page-break"></div>
#end
		</body>
</html>


